<div class="container">
    <div class="row">
        <div id="title" class="col-12 text-center">
            <h1>Sofa King Burgers</h1>
            <h3>"They're Sofa King Good!"</h3>
        </div>
    </div>

    <div class="row" id="entry-row">
        
        <div class="col-4 mx-auto" id="entry">
            <h3 class="text-center">Enter Your Creation!</h3>
            <div class="row">
                <div class="col-12">
                    <form class="form-inline">
                        <div class="form-group mx-sm-3 mb-2">
                            {{!-- <label for="burgerInput" class="sr-only">Burger</label> --}}
                            <input type="text" class="form-control" id="burgerInput" placeholder="Burger">
                        </div>
                        <button type="submit" id="add-btn" class="btn-sm btn-primary mb-2">Add</button>
                    </form>
                </div>
            </div>
        </div>

        
        
    </div>
    <div class="row">
        <div class="col-4" id="notEaten">
            <h3 class="text-center">Not Devoured</h3>
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                <li>
                    {{burger_name}} <button data-burgerid="{{id}} "data-devour="{{devoured}}" id="devour-btn" class="btn-sm btn-primary mb-2">Devour</button>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="col-4 img-fluid">
            <img src="/assets/css/couch.png" class="img-fluid">
        </div>

        <div class="col-4 ml-auto" id="eaten">
            <h3 class="text-center">Devoured</h3>
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                <li>
                    {{burger_name}}
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>