<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Sofa King Burgers</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-4 text-center" id="notEaten">
            <h3>Not Devoured</h3>
            <ul>
                {{#each burgers}}
                    {{#unless devoured}}
                    <li>
                        {{burger_name}} 
                    </li> 
                    {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-4 text-center" id="entry">
            <h3>Entry Div</h3>
            <div class="row">
                <div class="col-12">
                    <form class="form-inline">
                        <div class="form-group mx-sm-3 mb-2">
                            <label for="burgerInput" class="sr-only">Burger</label>
                            <input type="password" class="form-control" id="burgerInput" placeholder="Burger">
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Add</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-4 text-center" id="eaten">
            <h3>Devoured</h3>
            <ul>
                {{#each burgers}}
                    {{#if devoured}}
                    <li>
                        {{burger_name}} 
                    </li> 
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>