<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Titile Div</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <h3>Not Eaten Div</h3>
        </div>
        <div class="col-4">
            <h3>Entry Div</h3>
        </div>
        <div class="col-4">
            <h3>Eaten Div</h3>
        </div>
    </div>
</div>